@import url("../node_modules/bootstrap/dist/css/bootstrap.css");

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.projects {
  margin: 1rem;
}

.projects header {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects h2 {
  margin: 0;
  color: white;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.projects li {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 1rem;
  background-color: white;
}

.projects li h2 {
  color: #424649;
  margin: 0.5rem 0;
}

#finished-projects li h2 {
  color: #424649;
}

.projects li h3 {
  color: #575757;
  font-size: 1rem;
}

.project li p {
  margin: 0;
}

.droppable {
  background: rgba(255, 193, 7, 0.25);
}

#finished-projects .droppable {
  background: rgba(255, 193, 7, 0.25);
}

h2 {
  text-transform: capitalize;
}
section {
  border: 1px solid rgb(255, 193, 7);
}
